html, body {
  overflow: hidden auto;
  min-height: calc(100vh - (#{$header-offset} + 1rem));
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: $base-font-size;
  font-family: $base-font-sans;
  background-color: $base-background-color;
  color: $base-font-color;
  line-height: $base-line-height;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

* {
  &,
  &::after,
  &::before {
    box-sizing: inherit;
  }
}
