# When adding a new env variable,
# make sure to add an entry to:
# src/config.json (dev)
# and
# src/docker-config.json (prod)
VUE_APP_BACKEND_URL=http://localhost:4000
VUE_APP_OLD_BACKEND_URL=http://localhost:8080
VUE_APP_API_KEY=ABC123
